.colours {
	background-color: #ddd;
	color: #500050;
}

body {
	margin: 0;
	padding: 0 5%;
	width: 90%;
	background-color: #333; /*!this needs to match colour for .header and div.footerSpacer;*/
}

h1 {
	text-align: center;
	margin: auto;
	font-size: 60px;
	font-family: sans-serif;
	padding: 50px 0;
}

h2 {
	text-align: center;
	font-size: 40px;
	font-family: sans-serif;
	padding: 20px 3% 10px 3%;
}

h3 {
	text-align: center;
	font-size: 25px;
	font-family: sans-serif;
	padding: 0 0 15px 0;
}

p {
	color: #0008;
	font-size: 20px;
	font-family: sans-serif;
	padding: 0 3% 20px 3%;
	margin: 0 30% 0 0;
}

p.emphasis {
	color: #3338;
	padding: 0 3% 20px 6%;
	margin: 0 30% 0 0;
}

.header {
	position: sticky;
	background-color: #333; /*!this needs to match colour for body and div.footerSpacer;*/
	height: 3vw;
	width: 100%;
	padding: 0;
	top: 0;
}

div.header ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

div.header a {
	font-size: 1.3vw;
	font-weight: bold;
	font-family: sans-serif;
	text-decoration: none;
	text-shadow: 0 0 0.5vw #fff;
	text-align: center;
	background-color: #888;
	border-radius: 1vw 1vw 0 0;
	width: 14.2857%;
	height: 1.3vw;
	padding: 0.85vw 0;
	float: left;
	color: #600060;
}

.header a:hover {
	background-image: linear-gradient(#90009030, #0000);
}

.header a.active {
  background-color: #ddd
}

.gallery {
	width: 30%;
	margin: 0 0 0 2.5%;
	float: left;
}

.gallery img {
	display: block;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 50px;
	height: 250px;
}

.gallery h2 {
	margin: 0;
	padding: 0;
}

.gallery p {
	color: #000b;
	text-align: center;
	margin: auto;
	padding: 0 15%;
}

.contents {
	min-height: 700px;
	overflow: auto;
}

div.footerSpacer {
	height: 250px;
	margin: 0 0 50px 0;
	background-image: linear-gradient(#0000, #333); /*last colour needs to match colour for body and .header;*/
}